.container {
	position: fixed;
}

#node-list-conainer {
	width: 25%;
	height: 100%;
	left: 0;

}

#node-list {
 	height: 750px;
	overflow: scroll;
}

.finger-div {
	max-width: 75px;
	overflow: wrap;
}

#chart-container{
	height: 100%;
	width: 75%;
	right: 0;
}

#chart-canvas {
	height: 1000px;
}
